<p class="notice"><%= notice %></p>

<header>
  <div class="header">
    <h2> Spotifer </h2>
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSBjCrgjQNC7aTn7FV4mxXVmxBITCv5RTp7JMI8a1RNFdGM4WEnLA" id="logo">

      <h1> Profile Page </h1>
        <div class='top-buttons'>
          <%= link_to 'Search for Song', songs_index_path, class: "btn btn-default btn-sm" %> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm" %>
        </div>
  </div>
</header>
<br>

<div class="main-content"
<p><strong>Username</strong>: <%= current_user.email %> </p>
</div>
